<h1 id="brand">{{brand}}</h1>
<a href="/user1"></a>
<h2>{{name}}</h2>
<video width="800" height="600" src="/images/canon.mp4" controls="false" autoplay="autoplay"></video>
<img src="/images/camera.jpg" alt="product image" id="productIMG">
<div id="info">
<h3>Description</h3>
<p id="desc">Stepping up to a full-frame camera has never been easier. The mirrorless EOS RP – the lightest and most compact full-frame EOS camera to date** - includes a 26.2 MP CMOS sensor, the World’s fastest autofocus*, 4K video, and our powerful DIGIC 8 processor for exceptional results, even in low light. Explore vast creative possibilities with RF lenses as well as all EF/EF-S lenses***. Get impressive results using the camera’s helpful Feature Assistant and Creative Assist functions. Be imaginative with a number of special scene modes. And quickly adjust settings with the convenient Mode Dial. With its compact size, comfortable grip, vari-angle touchscreen LCD and electronic viewfinder, operation is familiar and easy. Whether you travel near or far, the EOS RP helps you capture your world with the quality, control and ease you crave.</p>
<h3>Features</h3>
<p id="features">For all their appealing features one of the concerns of using a full-frame camera has been its larger profile, however, the EOS RP is the lightest and smallest Canon EOS full-frame camera to date.* Weighing approx. 440g (body only) while being impressively compact and comfortable to use, the EOS RP is more convenient to carry, shoot with, and store than any previous EOS full-frame camera before.</p>
</div>
