<!DOCTYPE html>
<html>
  <head>
    <title>{{name}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <img src="/images/logo.png" alt="canon logo" width="120px" id="canonLogo">

    {{{body}}}
  </body>
</html>
